# Ignore built files
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven wrapper JAR should be tracked
!.mvn/wrapper/maven-wrapper.jar

# Ignore project-specific help files
HELP.md

### Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# OS-specific
.DS_Store
Thumbs.db
